[Unit]
Description=Artifactory service
After=network.target

[Service]
Type=forking
GuessMainPID=yes
Restart=always
RestartSec=60
PIDFile={{dir_root}}artifactory-jcr-{{jfrog_version}}/app/run/artifactory.pid
ExecStart={{dir_root}}artifactory-jcr-{{jfrog_version}}/app/bin/artifactory.sh start
ExecStop={{dir_root}}artifactory-jcr-{{jfrog_version}}/app/bin/artifactory.sh stop  

[Install]
WantedBy=multi-user.target
Alias=artifactory.service